	<div class="row">
		<h2 class="subheading">If you want to get in touch, just drop your email address and i'll contact you ASAP!</h2>
		<div class="contact">
			{{ 'Contact me'|form }}
    			<input type="email" name="email">
    			<input type="submit" value="Contact me">
			</form>
    	</div>
	</div>
	
</div>