{% extends "tmpl/layout.twig" %}

{% block content %}
<section class="container">
	<h1>{{ data.Title }}</h1>
	<article>
		<img src="{{ data.Image|sq }}"/>
		{{ data.Content|md|raw }}
	</article>
</section>
{% endblock %}