# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
.sql
cockpit/**/*.sqlite

#  Project Specific  #
######################


# Project directories
vendor/*
*/logs/*
*/cache/*
*/backups/*
cockpit/storage/*
node_modules/*

# Composer
composer.phar

# Config
cockpit/config.php
cfg/*