{% extends "tmpl/layout.twig" %}

{% block content %}
<div class="units-row">
	<div class="unit-100">
    	<hgroup>
    		<h1>{{ data['title'] }}</h1>
    		<h1 class="subheading">{{ data['subtitle'] }}</h1>
		</hgroup>
	</div>
</div>
{% endblock %}