<footer>
	<div>
		Kristof Feys - 2014
	</div>
	<div class="right">
		Built using <a href="http://www.getcockpit.com">Cockpit</a>, <a href="http://silex.sensiolabs.org/">Silex</a> &amp; <a href="http://getbootstrap.com/">Bootstrap</a>
	</div>
</footer>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/assets/dist/js/main.min.js"></script>

	</body>
</html>