{{ include('tmpl/head.twig') }}

{{ include('tmpl/topnav.twig') }}

<div class="header"></div>

<div class="container-fluid">
	{% block content %}{% endblock %}
</div>

{{ include('tmpl/footer.twig') }}