/*
 * Navigation
 */
.top-nav.navbar{
  height: 30px;
  min-height:30px;
  line-height: 20px;
  padding:5px;
  background-color: #EC6F66;
  color:#FFF;
  border-radius:0;
  letter-spacing:1px;
  font-weight: 300;
}
.top-nav .navbar-nav>li>a{
	padding:5px 10px;
	margin-top:-6px;
	color:#FFF;
}
.top-nav .navbar-nav>li>a:hover{
	background-color:#FFF;
	color:#EC6F66;
}
.top-nav .last{
	margin-left:15px;
}

.navbar-brand img{
	display:inline-block;
	float:left;
	padding-right:10px;
	margin-top:-4px;
	max-height:40px;
}
.navbar-brand{
	padding:15px;
	line-height:20px;
	padding-top:17px;
	text-transform: uppercase;
	font-size:1.4em;
}
.navbar-brand small{
	font-family: 'Lato', sans-serif;font-weight: 100;
	display:block;
  	font-size:0.7em;
  	text-transform: none;
}

#mainnav .navbar-nav>li{
	padding-left:15px;
	padding-right:15px;
}
.navbar-default{
	z-index:9999;
	border-radius:0;
	border-left:none;
	border-right:none;
	border-top:none;
}
#mainnav .navbar-nav>li>a{
	line-height:40px;
	padding-bottom:10px;
	margin-bottom:5px;
	text-transform: uppercase;
}
#mainnav .navbar-nav>li>a:hover{
	border-bottom:5px solid #EC6F66;
	margin-bottom:0;
}
.navbar{
	margin-bottom:0;
	background-color:#FFF;
	background-color:rgba(255,255,255,0.9);
	font-family: 'Oswald', sans-serif;
}

/*
 * Titles
 */
hgroup, h1, .subheading, h2{
	text-align: center;
	font-family: 'Lato', sans-serif;
}
h1, h2{
	font-weight:900;
	line-height: 2em;
}
.subheading{
	font-weight:300;
	font-size:1.5em;
	line-height: 1.5em;
	color:#999;
	text-align: center;
}
.blog h2{
	text-align: left;
}

/*
 * Icon Block
 */
.icon-block{
	margin-top:80px;
	text-align:center;
	color:#FFF;
	line-height: 5em;
}
.icon{
	font-size: 30px;
  	display: block;
	width:30%;
	margin-left:35%;
	height: 0;
	padding-bottom: 30%;
	background-color:#EC6F66;
	color:#FFF;
  	text-align: center;
}
.icon:hover{
	background-color:#FFF;
	color:#EC6F66;
}
.icon i{
	padding-top:50%;
	margin-top:-15px;
}

/*
 * Contact Form
 */
.contact{
    margin: 0 auto;
    width: 680px;
    clear:both;
}
.contact>form{
    margin:0;
    padding:0;
    padding-bottom:60px;
}
.contact input{
    width:75%;
    display:inline-block;
    margin:0;
    padding:0;
    outline: 0;
    border: 1px solid #1abc9c;
    float:left;
    line-height:50px;
    padding-left:10px;
    font-size:1.6em;
}
.ok{color:#1abc9c;} .nok{color:#EC6F66;}
.notif{font-weight: 700;}
.contact input[type="submit"]{
    width:200px;
    position:absolute;
    background: #1abc9c;
    margin-left:-42px;
    color:#228571;
    font-size:1.5em;
    border:none;
    padding:1px;
    cursor:pointer;
}
.btn-tag{
	background-color:#EC6F66;
	color:#FFF;
	padding:0px 10px;
	line-height:26px;
	display:inline-block;
	height:26px;
	margin:20px 0 10px 10px;
	transform: skew(-20deg); 
    -webkit-transform: skew(-20deg);
    font-size:0.8em;
}
.btn-tag:hover{
	background-color:#BF5D56;
	color:#F7F7F7;
	text-decoration: none;
}
.btn-tag p{
	transform: skew(20deg); 
    -webkit-transform: skew(20deg);
}

/*
 * Footer
 */
body>footer{
	background-color:#171717;
	color:#777;
	height:60px;
	line-height: 60px;
	padding:0 20px;
}
body>footer>div{
	float:left;
}

.row.slider ul li{
	list-style-type: none;
	text-align: center;
	margin:0; padding:0;
}
.row.slider ul{
	text-align: center;
	margin:0; padding:0;
}
.row.slider ul>li .details{
	text-align: center;
	margin:10px 0; padding:0;
}
#twitter>ul>li{
	display:none;
}
.row.slider ul>li .details a, .row.slider ul>li .details abbr{
	margin:0 5px;
}

.blog .post{
	padding:0;
	border:2px solid #eeeeee;
	margin-top:-2px;
}
.blog .post .row-fluid, .blog .post .row, .blog .row{
	padding:0;
	margin-bottom:0;
}
.blog .post.even{
	margin-left:-1px;
}
.blog .post.uneven{
	margin-right:-1px;
}
.blog .post>img{
	border-bottom:2px solid #eeeeee;
	padding:0;
}
.blog{
	margin-bottom:100px;
}

.blog .post h2 a{
	color:#000;
}
.blog .post h2{
	margin:0;
}
.blog .post .tags{
	margin-left:-5px;
}
.blog .post .meta{
	color:#b2b2b3;
	text-transform: uppercase;
	line-height: 3em;
	margin-top:-10px;
}
.blog .post .meta span{
	margin-right:10px;
}
.blog .post .meta .glyphicon{
	top:2px;
	padding-right:2px;
}
.blog .post .content{
	padding-bottom:50px;
}
.blog .post .content>p{
	line-height: 1.6em;
}
a.more{
	color:#FFF;
	background-color:#1abc9c;
	padding:5px 10px;
	margin-top:10px;
	display:block;
	margin-bottom:10px;
	position:absolute;
	right:10px;
	bottom:30px;
}
a.more:hover{
	text-decoration: none;
	background-color:#228571;
}
.cat{
	text-align: center;
	margin-bottom:20px;
	margin-top:-60px;
	position:relative;
	padding:0;
	height:50px;
}
.cat a{
	position:absolute;
	transform: skew(0deg); 
}
.cat .first{
	left:4px;
}
.cat .last{
	right:18px;
}

