.top-nav.navbar{
  height: 30px;
  min-height:30px;
  line-height: 20px;
  padding:5px;
  background-color: #EC6F66;
  color:#FFF;
  border-radius:0;
  letter-spacing:1px;
  font-weight: 300;
}
.top-nav .navbar-nav>li>a{
	padding:5px 10px;
	margin-top:-6px;
	color:#FFF;
}
.top-nav .navbar-nav>li>a:hover{
	background-color:#FFF;
	color:#EC6F66;
}
.top-nav .last{
	margin-left:15px;
}

.navbar-brand img{
	display:inline-block;
	float:left;
	padding-right:10px;
	margin-top:-4px;
	max-height:40px;
}
.navbar-brand{
	padding:15px;
	line-height:20px;
	padding-top:17px;
	text-transform: uppercase;
	font-size:1.4em;
}
.navbar-brand small{
	font-family: "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	display:block;
  	font-size:0.7em;
  	text-transform: none;
}

#mainnav .navbar-nav>li{
	padding-left:15px;
	padding-right:15px;
}
.navbar-default{
	z-index:9999;
	border-radius:0;
	border-left:none;
	border-right:none;
	border-top:none;
}
#mainnav .navbar-nav>li>a{
	line-height:40px;
	padding-bottom:10px;
	margin-bottom:5px;
	text-transform: uppercase;
}
#mainnav .navbar-nav>li>a:hover{
	border-bottom:5px solid #EC6F66;
	margin-bottom:0;
}
.navbar{
	margin-bottom:0;
	background-color:#FFF;
	background-color:rgba(255,255,255,0.9);
	font-family: 'Oswald', sans-serif;
}

hgroup{
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-top:80px;
}
hgroup h1{
	font-weight:900;
	line-height: 2em;
}
hgroup .subheading{
	font-weight:300;
	font-size:1.5em;
	line-height: 1.5em;
	color:#999;
	margin-bottom:100px;
}
.icon-block{
	margin-top:100px;
	margin-bottom:80px;
	text-align:center;
	color:#FFF;
	line-height: 5em;
}
.icon{
	font-size: 30px;
  	display: block;
	width:30%;
	margin-left:35%;
	height: 0;
	padding-bottom: 30%;
	background-color:#EC6F66;
	color:#FFF;
  	text-align: center;
}
.icon:hover{
	background-color:#FFF;
	color:#EC6F66;
}
.icon i{
	padding-top:50%;
	margin-top:-15px;
}
.bgimg{
	background-size: cover;
}

