{{ dump(nav) }}

<header class="group">
    <nav class="navbar navbar-left">
        <ul>
            <li>...</li>
        </ul>
    </nav>
    <nav class="navbar navbar-right">
        <ul>
            <li>CV</li>
        </ul>
    </nav>
</header>